@import url("../public/fonts/iconfont.css");

:root {
    --fore-color: black;
    --bg-color: rgba(255, 255, 255, 0.75);
    --thirty-three: #33333333;
    --sixty-six: #00000066;
    --wheat: #eeeeeeee;
    --primary-color: dodgerblue;
    --second-color: rgb(136, 186, 255);
}

a {
    display: inline-block;
    color: gray;
    text-decoration: none;
}

i {
    text-decoration: none;
    font-style: normal;
}

button {
    border: none;
}

button:disabled {
    cursor: not-allowed!important;
    background-color: gray!important;
}

input {
    border: var(--sixty-six) solid 1px;
    border-radius: .2rem;
    padding: .2rem .5rem;
    outline: none;
    color: var(--fore-color);
    background-color: var(--bg-color);
}

input:focus {
    outline: solid 1px var(--primary-color);
}

textarea {
    border: var(--sixty-six) solid 1px;
    border-radius: .2rem;
    padding: .2rem .5rem;
    outline: none;
    color: var(--fore-color);
    background-color: var(--bg-color);
}

textarea:focus {
    outline: solid 1px var(--primary-color);
}

body {
    position: relative;
    margin: 0;
    color: var(--fore-color);
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-size: cover;
}

.glass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--bg-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0 !important;
}

.panel {
    padding: .5rem;
    margin: .5rem;
    position: relative;
    z-index: 1;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

a.logo {
    color: var(--fore-color);
    text-decoration: none;
}

.logo > .iconfont {
    margin-right: .5rem;
}

.logo > .title {
    vertical-align: super;
}

.navbar {
    position: relative;
    padding: 0 1rem;
    box-shadow: 0px 1px var(--thirty-three);
}

.navbar > * {
    vertical-align: super;
}

.navbar > .left {
    display: inline-block;
    text-align: left;
}

.navbar > .right {
    display: inline-block;
    position: absolute;
    right: 1rem;
}

.blue {
    color: dodgerblue;
}

.orange {
    color: orange;
}

.white {
    color: white;
}

.dark {
    color: black;
}

.large {
    font-size: 3rem;
}

.medium {
    font-size: 2rem;
}

.small {
    font-size: 1rem;
}

.tiny {
    font-size: .5rem;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.round {
    border-radius: 5rem;
}

.title {
    font-size: large;
    font-weight: bold;
}

.link {
    display: inline-block;
    color: gray;
    text-decoration: none;
}

.link:hover {
    color: var(--second-color);
}

.button {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: .5rem;
    text-decoration: none;
    cursor: pointer;
}

.primary.button {
    color: white;
    background-color: var(--primary-color);
}

.second.button {
    background-color: teal;
    color: white;
}

.grey.button {
    background-color: darkgrey;
    color: white;
}

.danger.button {
    background-color: red;
    color: white;
}

.wrapper {
    position: relative;
}

.wrapper > .dimmer {
    position: absolute;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.wrapper > .dimmer > .loader {
    position: absolute;
    top: 40%;
    padding: .5rem;
    border-radius: .2rem;
    background-color: var(--wheat);
}

.dimmer {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 25, 40, 0.75);
    text-align: center;
    backdrop-filter: blur(2px);
}

.dimmer.show {
    display: block;
}

.modal {
    position: relative;
    display: inline-block;
    top: 20%;
    max-width: 80%;
    max-height: 80%;
    border: solid var(--border-color) 1px;
    border-radius: .5rem;
    background-color: var(--bg-color);
}

.modal > .header {
    box-shadow: 0px 1px var(--thirty-three);
    text-align: left;
}

.modal > .header .title {
    margin: 0;
    padding: 3%;
}

.modal > .footer {
    display: block;
    box-shadow:0px -1px var(--thirty-three);
}

.notification {
    display: inline-block;
    position: absolute;
    right: 1%;
    min-width: 30%;
    max-width: 40%;
    top: 10%;
    max-height: 80%;
    list-style: none;
    z-index: 1000;
    padding: 0;
}

.notification > .item {
    border-radius: .5rem;
    box-shadow: 0px 0px 2px 1px var(--thirty-three);
    margin: .5rem 0;
    padding: .5rem;
    position: relative;
}

.notification > .item > * {
    vertical-align: middle;
}

.notification > .item > .icon {
    border-radius: 5rem;
}

.notification > .item > .text {
    color: var(--fore-color);
    padding: 0 .5rem;
}

.notification > .item > .action {
    position: absolute;
    top: 35%;
    right: 2%;
    cursor: pointer;
    display: inline-block;
    color: var(--bg-color);
}

.info {
    background-color: var(--primary-color)
}

.info > .icon {
    color: var(--primary-color);
    background: radial-gradient(white 50%, transparent 50%);
}

.warn {
    background-color: rgb(240, 200, 125);
}

.warn > .icon {
    color: orange;
    background: radial-gradient(white 50%, transparent 50%);
}

.error {
    background-color: rgb(242, 142, 142);
}

.error > .icon {
    color: red;
    background: radial-gradient(white 50%, transparent 50%);
}

.tab {
    display: block;
    border-radius: .5rem;
    padding: 1rem;
    margin: .5rem;
    background-color: var(--bg-color);
}

.tab > .header {
    border-bottom: solid var(--border-color) 1px;
}

.tab > .header > .list {
    margin: 0;
    padding: 0;
}

.tab > .header > .list > .item {
    position: relative;
    text-align: center;
}

.tab > .header > .list > .item > * {
    color: inherit;
    margin: .2rem .5rem;
}

.tab > .header > .list > .item > i {
    position: absolute;
    top: .5rem;
    right: -.5rem;
    margin: 0;
    opacity: 0;
    color: grey;
    cursor: pointer;
}

.tab > .header > .list > .item:hover > i {
    opacity: 1;
}

.tab > .header > .list > .item.active {
    color: var(--primary-color);
    border-bottom: solid var(--primary-color) 1px;
}

.tab > .body {
    padding: 1rem;
}

.tab > .body > .content {
    display: none;
}

.tab > .body > .content.active {
    display: block;
}

.list {
    list-style: none;
    text-indent: 0;
    padding: .5rem;
}

.list > .item {
    display: block;
    margin: 0 .5rem;
    cursor: pointer;
}

.list.horizontal {
    display: block;
}

.list.horizontal > .item {
    display: inline-block;
}

.compact {
    display: inline-block !important;
}

.collapse {
    display: inline;
}

.according {
    display: block;
    border-radius: .5rem;
    border: solid var(--border-color) 1px;
    margin: .5rem;
    background-color: var(--bg-color);
}

.according > .summary {
    display: block;
    position: relative;
    cursor: pointer;
    padding: .5rem 2.5rem .5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 1px 0 0 var(--border-color);
}

.according.show > .summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.according > .summary > .icon {
    position: absolute;
    right: .5rem;
    top: .6rem;
}

.according > .detail {
    display: none;
    padding: .5rem;
}
.according.show > .detail {
    display: block;
}

.form {
    padding: .5rem;
    text-align: left;
}

.form .field {
    position: relative;
    margin: .5rem;
}

.form .field > label {
    display: inline-block;
    width: 25%;
    margin: 0 .5rem;
    vertical-align: top;
}

.form .field > :nth-child(2) {
    width: 60%;
    margin: 0;
}

.form .field > button.switch {
    width: auto;
}

.form .field > input[type=checkbox], .form .field > div.radio {
    width: auto;
}

.form .field > .error {
    width: 60%;
    margin: 0 .5rem;
    margin-left: 32%;
}

.group {
    display: inline-block;
}

.checkbox {
    display: inline-block;
}

.checkbox input[type=checkbox] {
    position: relative;
    appearance: none;
    width: 1rem;
    height: 1rem;
    vertical-align: top;
    border: solid 1px var(--fore-color);
}

.checkbox input[type=checkbox]:focus {
    outline: none;
}

.checkbox input[type=checkbox]:checked {
    border: solid 1px var(--primary-color);
    background-color: var(--primary-color);
}

.checkbox input[type=checkbox]:checked::before {
    font-size: 1rem;
    position: absolute;
    top: -0.2rem;
    left: .1rem;
    content: "✔";
    color: white;
}

.radio {
    display: inline-block;
}

.radio input[type=radio] {
    position: relative;
    appearance: none;
    width: 1rem;
    height: 1rem;
    vertical-align: top;
    border: solid 1px var(--sixty-six);
    border-radius: 5rem;
}

.radio input[type=radio]:focus {
    outline: none;
}

.radio input[type=radio]:checked {
    border: solid 1px var(--primary-color);
    background-color: var(--primary-color);
}

.radio input[type=radio]:checked::before {
    position: absolute;
    content: "";
    left: .27rem;
    top: .22rem;
    width: .5rem;
    height: .5rem;
    border-radius: 5rem;
    background-color: white;
}

.switch {
    display: inline-block;
    position: relative;
    border: solid 1px var(--border-color);
    height: 1.3rem;
    padding: .1rem, 0;
    border-radius: 5rem;
    vertical-align: super;
    background-color: var(--second-color);
    transition: background-color .3s;
}

.switch > .label {
    color: white;
    padding: .1rem .1rem .1rem .1rem;
    margin-left: 1rem;
    margin-right: 0;
}

.switch.active > .label {
    margin-left: 0;
    margin-right: 1rem;
}

.switch > .dot {
    position: absolute;
    height: 1rem;
    width: 1rem;
    left: 0;
    right: unset;
    vertical-align: middle;
    border-radius: 5rem;
    transition: position .3s;
}

.switch.active {
    background-color: var(--primary-color);
}

.switch.active > .dot {
    left: unset;
    right: 0;
}

.spinner {
    display: inline-block;
}

.spinner > .icon {
    border-radius: .2rem;
}

.spinner > input {
    margin: .2rem .5rem;
}

.slider {
    display: block;
    position: relative;
    margin: 1rem;
    border-radius: 5rem;
    overflow: visible;
    background-color: #d6d6d6;
}

.slider > .track {
    position: relative;
    display: block;
    min-height: .4rem;
    max-height: .4rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
}

.slider > .track:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #d6d6d6;
    z-index: 1;
}

.slider button.thumb {
    appearance: none;
}

.slider > .track > .thumb {
    cursor: pointer;
    position: absolute;
    top: -0.3rem;
    right: 0;
    min-width: 1rem;
    min-height: 1rem;
    color: var(--fore-color);
    border: solid 1px var(--wheat);
    border-radius: 5rem;
    box-shadow: 0 0 2px 1px var(--thirty-three);
}

.slider > .track > .active.thumb {
    transform: scale(1.2, 1.2);
}

.popover {
    display: inline-block;
    position: relative;
}

.popover > .content {
    display: none;
    position: absolute;
    z-index: 99;
    box-shadow: 0 0 4px 1px var(--border-color);
    border-radius: .5rem;
    background-color: var(--bg-color);
}

.popover > .content > * {
    margin: 0;
    max-width: 100%;
    height: 100%;
}

.popover.show > .content {
    display: block;
}

.popover > .content.left {
    top: 0;
    right: 0%;
}

.popover > .content.right {
    top: 0;
    left: 100%;
}

.popover > .content.top {
    bottom: 0;
    left: 50%;
}

.popover > .content.bottom {
    top: 100%;
    left: 50%;
}

.dialog {
    position: relative;
    display: inline-block;
    top: 20%;
    max-width: 80%;
    max-height: 80%;
    border: solid var(--border-color) 1px;
    border-radius: .5rem;
    background-color: var(--bg-color);
}

.dialog > .header {
    text-align: left;
}

.dialog > .header .title {
    margin: 0;
    padding: 3%;
}

.dialog > .body {
    text-align: left;
    padding: 0 1rem;
}

.dialog > .footer {
    display: block;
    text-align: right;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip > .tip {
    position: absolute;
    opacity: 0;
    white-space: nowrap;
    padding: .3rem;
    color: black;
    background-color: var(--wheat);
    border-radius: .2rem;
    z-index: -9;
}

.tooltip:hover > .tip {
    opacity: 100;
    z-index: 9;
    display: block!important;
}

.dropdown {
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dropdown > :first-child {
    margin-left: 0;
    margin-right: 0;
}

.dropdown > .list {
    position: absolute;
    display: block;
    opacity: 0;
    margin: 0;
    padding: .3rem;
    background-color: var(--bg-color);
    border-radius: .2rem;
    overflow-y: visible;
    white-space: nowrap;
    z-index: -9;
    pointer-events: none;
}

.dropdown.show > .list {
    transition: opacity 1s;
    opacity: 100;
    z-index: 9;
    pointer-events: unset;
}

.dropdown > .list > .item {
    margin: 0;
    border-radius: .2rem;
    color: var(--fore-color);
}

.dropdown > .list > .item > *{
    color: inherit;
    display: block;
    padding: .2rem .5rem;
}

.dropdown.show > .list > .item:hover {
    color: var(--fore-color) !important;
    background-color: var(--second-color);
}

.select {
    display: inline-block;
    position: relative;
}

.select > .list {
    position: absolute;
    display: none;
    opacity: 0;
    margin: 0;
    padding: .3rem;
    background-color: var(--bg-color);
    border-radius: .2rem;
    overflow-y: visible;
    white-space: nowrap;
}

.select > .list > .item {
    margin: 0;
    border-radius: .2rem;
    color: var(--fore-color);
}

.select > .list > .item > *{
    color: inherit;
    display: block;
    padding: .5rem;
    border-radius: .2rem;
}

.select.show > .list {
    transition: opacity 1s;
    display: block;
    min-width: 95%;
    opacity: 100;
    z-index: 99;
}

.select.show > .list > .item:hover {
    color: var(--fore-color) !important;
    background-color: var(--second-color);
}

.select.show .header {
    outline: solid 1px var(--primary-color);
}

.select .header {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    border: var(--sixty-six) solid 1px;
    border-radius: .2rem;
    background-color: var(--bg-color);
}

.select .header > input {
    border: none;
    outline: none;
    display: block;
    width: 92%;
    padding-right: 1rem;
    margin-right: 0;
}

.select .header > .icon {
    vertical-align: bottom;
}

.select .header > .right.icon {
    position: absolute;
    display: inline-block;
    top: 10%;
    right: .2rem;
    color: grey;
}

.menu {
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu > :first-child {
    margin-left: 0;
    margin-right: 0;
}

.menu > :first-child:hover {
    background-color: var(--thirty-three);
}

.menu > .list {
    position: absolute;
    display: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    border-radius: .2rem;
    overflow-y: visible;
    white-space: nowrap;
}

.menu > .list > .item {
    margin: 0;
    padding: .5rem;
    border-radius: .2rem;
    color: var(--fore-color);
}

.menu > .list > .item > a {
    color: inherit;
}

.menu.show > .list {
    transition: opacity 1s;
    display: block;
    opacity: 100;
    z-index: 99;
}

.menu.left > .list {
    left: 0;
}

.menu.right > .list {
    right: 0;
}

.menu.top > .list {
    top: -100%;
}

.menu.bottom > .list {
    top: 100%;
}

.menu.show > .list > .item:hover {
    color: var(--fore-color) !important;
    background-color: var(--second-color);
}

.fan {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border: solid 3px var(--primary-color);
    border-top: solid 3px var(--border-color);
    border-radius: 5rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loader {
    display: inline-block;
    text-align: center;
}

.loader > .icon {
    display: block;
}

.loader > .icon > * {
    animation: rotate 1s infinite linear;
}

.loader > .tip {
    display: block;
    color: var(--fore-color);
}

.progress {
    display: block;
    position: relative;
    padding: .5rem .2rem;
    margin: .2rem;
    background-color: var(--thirty-three);
    border-radius: 5rem;
    overflow: hidden;
}

.progress > .percentage {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--fore-color);
    font-size: .8rem;
    text-align: right;
    background-color: var(--primary-color);
}

.table > table {
    text-align: center;
    width: 100%;
}

.table > table > thead > tr {
    border-bottom: solid 1px var(--border-color);
}

.table > table > tbody > tr {
    border-bottom: solid 1px var(--border-color);
}

.table > .footer{
    text-align: right;
}

.breadcrumb {
    list-style: none;
    text-indent: 0;
    padding: .5rem;
    margin: .5rem;
}

.breadcrumb > .item {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.breadcrumb > .item > .icon {
    color: grey;
    margin: 0;
}

.pager {
    display: inline-block;
}

.pager > .list.horizontal {
    display: inline-block;
}

.pager > .list.horizontal > .item {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 5rem;
    text-align: center;
    padding: .2rem;
}

.pager .active.item {
    color: white;
    background-color: var(--primary-color);
}

.pager .icon.item {
    vertical-align: top;
    padding-top: .1rem;
}

.stepper {
    margin: .5rem;
    padding: .5rem;
}

.stepper > .header > * {
    display: inline-block;
    padding: 1rem 0;
    margin: 0;
    border-radius: .5rem;
    box-shadow: 0 0 1px 1px var(--thirty-three);
}

.stepper > .header .item > .icon {
    opacity: 100;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 5rem;
    margin-right: .5rem;
    border: solid 2px var(--primary-color);
}

.stepper > .header .passed.item > .icon {
    color: white;
    background-color: var(--primary-color);
    border-radius: 5rem;
}

.stepper > .header .item > .divider {
    display: inline-block;
    height: 2px;
    width: 5rem;
    margin: .3rem .5rem;
    background-color: var(--thirty-three);
}

.stepper > .header .passed.item > .divider {
    display: inline-block;
    height: 2px;
    width: 5rem;
    background-color: var(--primary-color);
}

.stepper > .body > .content {
    display: none;
}
.stepper > .body > .active.content {
    display: block;
}

.card {
    display: inline-block;
    margin: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    overflow: hidden;
    background-color: var(--bg-color);
}

.card > .header {
    padding: .5rem;
}

.card > .body {
    padding: .5rem;
}

.card > .footer {
    padding: .5rem 0;
}

.user.modal {
    top: 10%;
}