i {
    text-decoration: none;
    font-style: normal;
}
.center {
    text-align: center;
}

.title {
    font-size: large;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: .5rem;
    text-decoration: none;
    cursor: pointer;
}

.primary.button {
    background-color: deepskyblue;
    color: white;
}

.second.button {
    background-color: deeppink;
    color: white;
}

.grey.button {
    background-color: darkgrey;
    color: white;
}

.dimmer {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dimmer.show {
    display: block;
}

.modal {
    position: relative;
    display: inline-block;
    top: 10%;
    max-width: 80%;
    min-width: 40%;
    max-height: 80%;
    min-height: 40%;
    border: solid #33333333 1px;
    border-radius: .5rem;
    background: white;
}

.modal > .header {
    box-shadow: 0px 1px #33333333;
    text-align: left;
}

.modal > .header .title {
    margin: 0;
    padding: 3%;
}

.modal > .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:0px -1px #33333333;
}

.notification {
    display: inline-block;
    position: absolute;
    right: 1%;
    min-width: 30%;
    max-width: 40%;
    top: 10%;
    bottom: 10%;
    max-height: 80%;
    list-style: none;
}

.notification > .item {
    border-radius: .5rem;
    box-shadow: 0px 0px 2px 1px #33333333;
    margin: .5rem 0;
    padding: .5rem;
    background-color: white;
}

.notification > .item > .icon {
    color: gray;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 2%;
}

.info {
    color: deepskyblue
}

.warn {
    color: orange;
}

.error {
    color: red;
}

.tab {
    display: block;
    border-radius: 1rem;
    box-shadow: 0 0 1px 1px #33333333;
    padding: 1rem;
    margin: .5rem;
}

.tab > .header {
    border-bottom: solid #33333333 1px;
}

.tab > .header > .list {
    margin: 0;
    padding: 0;
}

.tab > .header > .list > .item.active {
    color: deepskyblue;
    border-bottom: solid deepskyblue 1px;
}

.tab > .body {
    padding: 1rem;
}

.tab > .body > .content {
    display: none;
}

.tab > .body > .content.active {
    display: block;
}

.list {
    list-style: none;
    text-indent: 0;
    padding: .5rem;
}

.list > .item {
    display: block;
    margin: 0 .5rem;
    cursor: pointer;
}

.list.horizontal {
    display: block;
}

.list.horizontal > .item {
    display: inline-block;
}

.list.horizontal > .item:hover i {
    opacity: 1;
}

.list.horizontal > .item i {
    opacity: 0;
    color: grey;
    cursor: pointer;
    margin-left: .5rem;
}

.list.horizontal > .item:hover i {
    opacity: 1;
}

.compact {
    display: inline-block;
}

.collapse {
    display: inline;
}

.according {
    display: block;
    border-radius: .5rem;
    border: solid #33333333 1px;
    margin: .5rem;
}

.according > .summary {
    display: block;
    position: relative;
    cursor: pointer;
    padding: .5rem 2.5rem .5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 1px 1px #33333333;
}

.according.show > .summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.according > .summary > .icon {
    position: absolute;
    right: 1rem;
}

.according > .detail {
    display: none;
    padding: .5rem;
}
.according.show > .detail {
    display: block;
}